<h1>Listing Aurthors</h1>
 
<table>
  <tr>
    <th>aurthor Name</th>
    <th>age</th>
  </tr>
 
  <% @aurthors.each do |aurthor| %>
    <tr>
      <td><%= aurthor.name %></td>
      <td><%= aurthor.age %></td>
      <td>      
      <%= link_to 'Show', aurthor_path(aurthor) %></td>
      <td>
      <%# if (company.user_id == current_user.id) %>
      <%= link_to ' Edit ', edit_aurthor_path(aurthor) %>
      <%= link_to ' Delete ', aurthor_path(aurthor),
                method: :delete,
                  data: { confirm: 'Are you sure want to delete?' } %>

        <%# end %>
      </td>
    </tr>
    <% end %>