<h1> Create new Book </h1>
<%= form_with scope: :book, url: books_path, local:true do |form| %>
<p>
   <%= form.label :Book_name %>
   <%= form.text_field :name %>
</p>
<p>
   <%= form.label :price %>
   <%= form.text_field :price %>
</p>
<p><%= form.label :aurthor_id %>
   <%#= form.text_field :aurthor_id %>
   <%= form.select :aurthor_id, Book.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
</p>
<p>
   <%= form.label :category_id %>
   <%#= form.text_area :category_id %>
   <%= form.select :category_id, Book.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
</p>

<p>
   <%= form.label :pages %>
   <%= form.text_field :pages %>
</p>

<p>
   <%= form.label :image %><br />
   <%= form.file_field :image %>
</p>
<p>
<%= form.submit %>
<% end %>

<%= link_to 'show all books',  books_path %>
<%#= link_to ' A ', new_category_path %>
<%#   = link_to ' Add new category ', new_category_path %>